<!-- <app-nav-menu></app-nav-menu> -->
<!-- Begin container -->
<div class="container container-page about-page">
    <div class="body-page">
        <h1 class="head text-center">MoM - Hình Thành và hành trình phát triển</h1>
        <div class="scrollbar">
            <div class="text-center text-medium text-uppercase">What is Lorem Ipsum?</div>
            <p class="text-infor text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <p class="text-center img">
                <img src="assets/images/about.svg" alt=""/>
            </p>
            <p class="text-infor text-center"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
        <div class="item-pagination prev d-none d-md-block"><img src="assets/images/icons/icon-prev.svg" alt=""/></div>
        <div class="item-pagination active"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination next text-right d-none d-md-block"><img src="assets/images/icons/icon-next.svg" alt=""/></div>
    </div>
    <!-- End pagination page -->

</div>
<!-- End container -->