<!-- <app-nav-menu></app-nav-menu> -->
<!-- Begin container -->
<div class="container container-page mission-page">
    <div class="body-page">
        <h1 class="head text-center">Sứ mệnh</h1>
        <div class="scrollbar">
            <div class="text-medium text-center text-uppercase">What is Lorem Ipsum?</div>
            <div class="quote text-center m-auto">“Kiến tạo công nghệ và Phát triển con người.<br/>Vì một cuộc sống tốt đẹp hơn”</div>
            <h2 class="head text-center mt-4">Giá trị cốt lõi</h2>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="box-cover">
                            <img src="assets/images/tri-thuc.png" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Tri thức</h5>
                            <p class="card-text">“Kiến tạo công nghệ và Phát triển con người. 
                                Vì một cuộc sống tốt đẹp hơn”</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="box-cover">
                            <img src="assets/images/hop-tac.png" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Hợp tác - chung tay</h5>
                            <p class="card-text">“Kiến tạo công nghệ và Phát triển con người. 
                                Vì một cuộc sống tốt đẹp hơn”</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="box-cover">
                            <img src="assets/images/tri-thuc.png" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Vẽ lại khi biết nội dung</h5>
                            <p class="card-text">“Kiến tạo công nghệ và Phát triển con người. 
                                Vì một cuộc sống tốt đẹp hơn”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
        <div class="item-pagination prev d-none d-md-block"><img src="assets/images/icons/icon-prev.svg" alt=""/></div>
        <div class="item-pagination active"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination next text-right d-none d-md-block"><img src="assets/images/icons/icon-next.svg" alt=""/></div>
    </div>
    <!-- End pagination page -->

</div>
<!-- End container -->