<body>
  <app-nav-menu></app-nav-menu>
  <div id="loadingBar" class="d-flex align-items-center justify-content-center wrap-loading">
    <div class="body text-center">
      <div class="logo">
        <img src="https://askmage.net/Angular/images/logo.svg"/>
      </div>
      <div class="loading-percent">50%</div>
      <div class="loading-bar">
        <div id="bar" class="bar"></div>
      </div>
    </div>
  </div>
  <div class="container" style="max-width: 2000px !important;">
    <router-outlet></router-outlet>
  </div>
</body>
