<!-- <app-nav-menu></app-nav-menu> -->

    <!-- Begin container -->
    <div class="container container-page roadmap-page">
        <div class="body-page">
            <div class="head font-weight-bold">Lộ trình trong 1 năm của Thủy</div>
            <div class="text-uppercase text-blue sapo">
                <img src="./images/icons/icon-water-roadmap.svg" alt="">
                Chồng, hôn nhân, tình cảm
            </div>
            <div class="row">
                <div class="col-lg-7 chart">
                    <img src="./images/chart-road.png" alt="">
                </div>
                <div class="col-lg-5 content">
                    <div class="scrollbar">
                        Thủy -22%: Thủy là đại diện cho cung chồng và cung quan quyền, mệnh có thủy
                        và hỏa đều đạt trên mức trung bình (20%) là người lưỡng toàn cả tiền tài và công
                        danh . Nhưng hỏa quá nhiều 36% cũng là điều bất lợi về sau này <br/>

                        Các giải pháp để đường thổ đi lên trong giai đoạn đi xuống
                        Màu sắc: tăng cường màu vàng , đỏ nâu ,
                        Phương vị: đông bắc, tây nam , đông nam , tây bắc
                        Thức ăn : vị ngọt, thịt bò và dê , ăn thức ăn có màu vàng nhiều ,
                        Chỗ ngủ : quay đầu về phía tây nam
                        Công việc : quảng lý, kinh doanh đất đai ,chăn nuôi, tôn giáo , trồng trọt , hành
                        chính nhân sự,<br/>
                        Phụ kiện: <br/>
                        &nbsp;&nbsp; Bóp : da bò, trâu , dê, có màu vàng , nâu, xám<br/>
                        &nbsp;&nbsp; Giỏ : da , có màu vàng, nâu , xám<br/>
                        &nbsp;&nbsp; Giày da, có màu vàng , nâu xám, không nên mang giày cao gót<br/>
                        &nbsp;&nbsp; Viết : màu vàng nâu
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End container -->