<!-- <app-nav-menu></app-nav-menu> -->
<!-- Begin container -->
<div class="container container-page team-page achievement-page">
    <div class="body-page">
        <div class="head text-center">Thành tựu - MoM</div>
        <div class="text-medium text-uppercase text-center">What is Lorem Ipsum?</div>
        <div class="sapo text-center">“Kiến tạo công nghệ và Phát triển con người. <br/>Vì một cuộc sống tốt đẹp hơn”</div>
        <div class="row justify-content-center">
            <div class="col-sm-4 ">
                <a href="#" title="Nguyễn Thị Một">
                    <div class="card h-100">
                        <div class="box-cover">
                            <img src="assets/images/thanh-tuu-1.svg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Nguyễn Thị Một</h5>
                            <p class="card-text">( 2019, HR Asia )</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" title="Nguyễn Thị Một">
                    <div class="card h-100">
                        <div class="box-cover">
                            <img src="assets/images/thanh-tuu-2.svg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Top 50 Doanh nghiệp CNTT hàng đầu Việt Nam</h5>
                            <p class="card-text">(2018, 2017 và 2016, VINASA)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 ">
                <a href="#" title="Nguyễn Thị Một">
                    <div class="card h-100">
                        <div class="box-cover">
                            <img src="assets/images/thanh-tuu-1.svg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Nguyễn Thị Một</h5>
                            <p class="card-text">( 2019, HR Asia )</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
        <div class="item-pagination prev d-none d-md-block"><img src="assets/images/icons/icon-prev.svg" alt=""/></div>
        <div class="item-pagination active"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination next text-right d-none d-md-block"><img src="assets/images/icons/icon-next.svg" alt=""/></div>
    </div>
    <!-- End pagination page -->

</div>
<!-- End container -->