<!-- <app-nav-menu></app-nav-menu> -->
<div class="container container-page profile-page">
    <div class="d-flex body-page">
        <!-- Begin col chart -->
        <div class="flex-grow-1 col-chart">
            <div class="heading d-flex bg-yellow position-relative">
                <div class="animal-age text-center">
                    <img src="assets/images/icon-mouse.svg" alt="icon mnouse">
                </div>
                <div class="title text-center">Canh Tý</div>
                <div class="info">
                    <p>Năm: <strong>1924 - 1984 - 2044</strong></p>
                    <p>Mệnh: <strong>Hải Trung Kim</strong></p>
                </div>
            </div>
            <div class="box-chart text-center d-flex justify-content-center align-items-end">
                <img src="assets/images/chart.png" alt="chart">
            </div>
            <div class="d-flex justify-content-center group-btn-fate text-center group-label-percent">
                <div class="position-relative">
                    <a class="btn btn-yellow" routerLink="javascript:void();"><img src="assets/images/icons/icon-sword.svg"
                            alt="icon sword" /></a>
                    <label class="item">54.2%</label>
                    <label class="item">54.2%</label>
                    <img src="assets/images/icons/icon-plus.svg" class="icon plus" alt="icon plus" />
                    <img src="assets/images/icons/icon-minus.svg" class="icon minus" alt="icon minus" />
                </div>
                <div>
                    <a class="btn btn-blue" routerLink="javascript:void();"><img src="assets/images/icons/icon-water.svg"
                            alt="icon water" /></a>
                    <label class="item">4.0%</label>
                    <label class="item">4.0%</label>
                </div>
                <div>
                    <a class="btn btn-green" routerLink="javascript:void();"><img src="assets/images/icons/icon-tree.svg"
                            alt="icon tree" /></a>
                    <label class="item">3.0%</label>
                    <label class="item">3.0%</label>
                </div>
                <div>
                    <a class="btn btn-orange" routerLink="javascript:void();"><img src="assets/images/icons/icon-fire.svg"
                            alt="icon fire" /></a>
                    <label class="item">2.0%</label>
                    <label class="item">2.0%</label>
                </div>
                <div>
                    <a class="btn btn-brown" routerLink="javascript:void();"><img src="assets/images/icons/icon-earth.svg"
                            alt="icon earth" /></a>
                    <label class="item">1.0%</label>
                    <label class="item">1.0%</label>
                </div>
            </div>
        </div>
        <!-- End col chart -->

        <!-- Begin col info -->
        <div class="bd-highlight col-info">
            <h1 class="heading-title">Dương Thanh Thảo</h1>
            <div class="age-animal">
                <img src="assets/images/icons/icon-cop.svg" alt="icon con cọp">
                <span class="text-uppercase font-weight-bold">Bính Dần</span>
                <span class="font-weight-bold"> - Lư Trung Hỏa</span>
            </div>
            <div class="line-divider"></div>
            <div class="list-info">
                <div class="row">
                    <div class="col-3 col-lg-3 text-capitalize">Ngày sinh:</div>
                    <div class="col-9 col-lg-9">10/30/86 - Giờ mão</div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-3 text-capitalize">Giới tính:</div>
                    <div class="col-9 col-lg-9">Nữ</div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-3 text-capitalize">Chỗ sinh:</div>
                    <div class="col-9 col-lg-9">Mạo Khê, Đông Triều, Quảng Ninh</div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-3 text-capitalize">Địa chỉ:</div>
                    <div class="col-9 col-lg-9">Mỹ đình, nam từ liên, Hà Nội, Việt Nam</div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-3 text-capitalize">Sở thích:</div>
                    <div class="col-9 col-lg-9">Nghe nhạc</div>
                </div>
            </div>
            <div class="line-divider"></div>
            <div class="row group-btn-destiny">
                <div class="col-sm-2 col-4 col-lg-4 pr-2">
                    <a class="btn btn-money rounded-pill" routerLink="/profiledetail">
                        <img src="assets/images/icons/icon-money.svg" alt="" /> Tiền tài
                    </a>
                </div>
                <div class="col-sm-2 col-4 col-lg-4 px-2">
                    <a class="btn btn-marriage rounded-pill" routerLink="/profiledetail"><img
                            src="assets/images/icons/icon-marriage.svg" alt="" /> Hôn nhân</a>
                </div>
                <div class="col-sm-2 col-4 col-lg-4 pl-2">
                    <a class="btn btn-fame rounded-pill" routerLink="/profiledetail"><img
                            src="assets/images/icons/icon-fame.svg" alt="" />Công danh
                        </a>
                </div>
                <div class="col-sm-2 col-4 col-lg-4 pr-2">
                    <a class="btn btn-health rounded-pill" routerLink="/profiledetail"><img
                            src="assets/images/icons/icon-health.svg" alt="" />Sức khỏe
                        </a>
                </div>
                <div class="col-sm-2 col-4 col-lg-4 px-2">
                    <a class="btn btn-children rounded-pill" routerLink="/profiledetail"><img
                            src="assets/images/icons/icon-children.svg" alt="" />Con cái
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-end group-btn-action">
                <!-- <button class="btn btn-global rounded-pill btn-reset text-uppercase">Nhập lại</button> -->
                <a class="btn btn-global rounded-pill btn-reset text-uppercase" routerLink="/home">Nhập lại</a>
                <a class="btn btn-global rounded-pill btn-accept text-uppercase" routerLink="/paradox">Mệnh lý</a>
            </div>
        </div>
        <!-- End col info -->
    </div>
    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
        <div class="item-pagination prev d-none d-md-block"><img src="assets/images/icons/icon-prev.svg" alt="" /></div>
        <div class="item-pagination active"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination next text-right d-none d-md-block"><img src="assets/images/icons/icon-next.svg" alt="" />
        </div>
    </div>
    <!-- End pagination page -->
</div>