<app-nav-menu></app-nav-menu>
<div class="container container-page profile-page">
  <!-- Begin container -->
  <div class="container container-page">
    <div class="d-flex body-page">
      <!-- Begin col chart -->
      <div class="col-chart">
        <div class="heading d-flex bg-yellow position-relative">
          <div class="animal-age text-center">
            <img src="https://askmage.net/Angular/images/icon-mouse.svg" alt="icon mnouse">
          </div>
          <div class="title text-center">Canh Tý</div>
          <div class="info">
            <p>Năm: <strong>1924 - 1984 - 2044</strong></p>
            <p>Mệnh: <strong>Hải Trung Kim</strong></p>
          </div>
        </div>
        <div class="box-chart text-center d-flex align-items-end justify-content-center">
          <img src="https://askmage.net/Angular/images/chart.svg" alt="chart">
        </div>
        <div class="d-flex justify-content-center group-btn-fate text-center group-label-percent">
          <div class="position-relative">
            <a class="btn btn-yellow" href="roadmap.html"><img
                src="https://askmage.net/Angular/images/icons/icon-sword.svg" alt="icon sword" /></a>
            <label class="item">54.2%</label>
            <label class="item">54.2%</label>
            <img src="https://askmage.net/Angular/images/icons/icon-plus.svg" class="icon plus" alt="icon plus" />
            <img src="https://askmage.net/Angular/images/icons/icon-minus.svg" class="icon minus" alt="icon minus" />
          </div>
          <div>
            <a class="btn btn-blue" href="roadmap.html"><img
                src="https://askmage.net/Angular/images/icons/icon-water.svg" alt="icon water" /></a>
            <label class="item">4.0%</label>
            <label class="item">4.0%</label>
          </div>
          <div>
            <a class="btn btn-green" href="roadmap.html"><img
                src="https://askmage.net/Angular/images/icons/icon-tree.svg" alt="icon tree" /></a>
            <label class="item">3.0%</label>
            <label class="item">3.0%</label>
          </div>
          <div>
            <a class="btn btn-orange" href="roadmap.html"><img
                src="https://askmage.net/Angular/images/icons/icon-fire.svg" alt="icon fire" /></a>
            <label class="item">2.0%</label>
            <label class="item">2.0%</label>
          </div>
          <div>
            <a class="btn btn-brown" href="roadmap.html"><img
                src="https://askmage.net/Angular/images/icons/icon-earth.svg" alt="icon earth" /></a>
            <label class="item">1.0%</label>
            <label class="item">1.0%</label>
          </div>
        </div>

      </div>

      <!-- Begin col info -->
      <div class="bd-highlight col-info">
        <h1 class="heading-title text-uppercase">Lục trụ mệnh lý</h1>
        <form class="profile-form position-relative needs-validation" method="get" action="profile.html" novalidate>
          <div class="scrollbar">
            <div class="note">Vui lòng nhập đầy đủ thông tin đánh dấu (*)</div>
            <div class="row">
              <div class="col-4 col-lg-4 pr-2">
                <input type="text" class="form-control" name="firstName" placeholder="Họ*" required />
                <div class="invalid-feedback font-italic">
                  *Vui lòng điền họ
                </div>
              </div>
              <div class="col-4 col-lg-4 px-2">
                <input type="text" class="form-control" placeholder="Tên đệm" />
              </div>
              <div class="col-4 col-lg-4 pl-2">
                <input type="text" class="form-control" name="lastName" placeholder="Tên*" required />
                <div class="invalid-feedback font-italic">
                  *Vui lòng điền tên
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <label class="radio-button">Dương lịch
                <input type="radio" name="radio" id="solarCalendar" checked>
                <span class="checkmark"></span>
              </label>
              <label class="radio-button">Âm lịch
                <input type="radio" name="radio" id="lunarCalendar">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="row">
              <div class="col-4 col-lg-3 pr-2">
                <select class="form-control">
                  <option data-display="Giờ sinh">Giờ sinh</option>
                  <option value="1">Tý</option>
                  <option value="2">Ngọ</option>
                  <option value="3" disabled>Dậu</option>
                  <option value="4">Tức</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 px-2">
                <select class="form-control">
                  <option data-display="Ngày sinh">1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3" disabled>4</option>
                  <option value="4">5</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 pl-2 px-lg-2">
                <select class="form-control">
                  <option data-display="Tháng sinh">1</option>
                  <option value="1">2</option>
                  <option value="2">4</option>
                  <option value="4">5</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 pl-3 pr-2 pl-lg-2 pr-md-3">
                <select class="form-control">
                  <option data-display="Năm sinh">2000</option>
                  <option value="1">2001</option>
                  <option value="2">2002</option>
                  <option value="3" disabled>2003</option>
                  <option value="4">2004</option>
                </select>
              </div>
              <div class="col-4 col-lg-4 px-2 px-lg-3">
                <select class="form-control">
                  <option data-display="Giới tính">Nam</option>
                  <option value="1">Nữ</option>
                  <option value="2">Khác</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-3 text-label">Nơi sinh</div>
              <div class="col-4 col-lg-3 pl-3 px-lg-2">
                <select class="form-control">
                  <option data-display="Tỉnh/TP*">Tỉnh/TP*</option>
                  <option value="1">Hồ Chí Minh</option>
                  <option value="2">Hà Nội</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 px-2">
                <select class="form-control">
                  <option data-display="Quận/Huyện">Quận/Huyện</option>
                  <option value="1">Quận 1</option>
                  <option value="2">Quận 2</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 pl-2">
                <select class="form-control right">
                  <option data-display="Phường/Xã">Phường/Xã</option>
                  <option value="1">Phường Đa Kao</option>
                  <option value="2">Phường 2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-3 text-label pr-2">Nơi ở hiện tại</div>
              <div class="col-4 col-lg-3 pl-3 px-lg-2">
                <select class="form-control">
                  <option data-display="Tỉnh/TP*">Tỉnh/TP*</option>
                  <option value="1">Hồ Chí Minh</option>
                  <option value="2">Hà Nội</option>
                  <option value="1">Hồ Chí Minh</option>
                  <option value="2">Hà Nội</option>
                  <option value="1">Hồ Chí Minh</option>
                  <option value="2">Hà Nội</option>
                  <option value="1">Hồ Chí Minh</option>
                  <option value="2">Hà Nội</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 px-2">
                <select class="form-control">
                  <option data-display="Quận/Huyện">Quận/Huyện</option>
                  <option value="1">Quận 1</option>
                  <option value="2">Quận 2</option>
                </select>
              </div>
              <div class="col-4 col-lg-3 pl-2">
                <select class="form-control right">
                  <option data-display="Phường/Xã">Phường/Xã</option>
                  <option value="1">Phường Đa Kao</option>
                  <option value="2">Phường 2</option>
                </select>
              </div>
            </div>

          </div>
          <div class="d-flex justify-content-end group-btn-action">
            <button class="btn btn-global rounded-pill btn-reset text-uppercase">Nhập lại</button>
            <button type="submit" class="btn btn-global rounded-pill btn-accept text-uppercase">Chấp nhận</button>
          </div>
        </form>
      </div>
      <!-- End col info -->
    </div>

    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
      <div class="item-pagination prev d-none d-md-block"><img
          src="https://askmage.net/Angular/images/icons/icon-prev.svg" alt="" /></div>
      <div class="item-pagination active"></div>
      <div class="item-pagination"></div>
      <div class="item-pagination"></div>
      <div class="item-pagination"></div>
      <div class="item-pagination"></div>
      <div class="item-pagination"></div>
      <div class="item-pagination next text-right d-none d-md-block"><img
          src="https://askmage.net/Angular/images/icons/icon-next.svg" alt="" />
      </div>
    </div>
    <!-- End pagination page -->
  </div>
  <!-- End col chart -->
</div>