<!-- <app-nav-menu></app-nav-menu> -->
 <!-- Begin container -->
 <div class="container container-page product-page">
    <div class="body-page">
        <h1 class="head text-center">Sản phẩm</h1>
        <div class="d-flex justify-content-center align-items-center filter">
            <label for="">Sắp xếp:</label>
            <button class="btn btn-link active">Tất cả</button>
            <button class="btn btn-link">Sách</button>
            <button class="btn btn-link">Phụ kiện</button>
            <button class="btn btn-link">Nội thất</button>
            <button class="btn btn-link">Thánh tượng</button>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="product-detail.html" title="Ẩn Số Thập Lục Hoa Giáp">
                    <div class="card h-100">
                        <div class="box-cover">
                            <img src="assets/images/product-1.svg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Ẩn Số Thập Lục Hoa Giáp</h5>
                            <p class="card-text">Tác giả: Khương Sơn</p>
                            <div class="sapo">“Kiến tạo công nghệ và Phát triển con người. Vì một cuộc sống tốt đẹp hơn”</div>
                        </div>
                        <div class="card-footer card-price">
                            <span class="price">60.750đ</span>
                            <span class="sale">(-25%)</span>
                            <span class="original">81.000đ</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="product-detail.html" title="Ẩn Số Thập Lục Hoa Giáp">
                    <div class="card h-100">
                        <div class="box-cover">
                            <img src="assets/images/product-2.svg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">đá Obsidian đỏ - Roxi</h5>
                            <p class="card-text">“Kiến tạo công nghệ và Phát triển con người. 
                                Vì một cuộc sống tốt đẹp hơn”</p>
                        </div>
                        <div class="card-footer card-price">
                            <span class="price">60.750đ</span>
                            <span class="sale">(-25%)</span>
                            <span class="original">81.000đ</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="product-detail.html" title="Ẩn Số Thập Lục Hoa Giáp">
                    <div class="card h-100">
                        <div class="box-cover">
                            <img src="assets/images/product-1.svg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Ẩn Số Thập Lục Hoa Giáp</h5>
                            <p class="card-text">“Kiến tạo công nghệ và Phát triển con người. 
                                Vì một cuộc sống tốt đẹp hơn”</p>
                        </div>
                        <div class="card-footer card-price">
                            <span class="price">60.750đ</span>
                            <span class="sale">(-25%)</span>
                            <span class="original">81.000đ</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
        <div class="item-pagination prev d-none d-md-block"><img src="assets/images/icons/icon-prev.svg" alt=""/></div>
        <div class="item-pagination active"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination next text-right d-none d-md-block"><img src="assets/images/icons/icon-next.svg" alt=""/></div>
    </div>
    <!-- End pagination page -->

</div>
<!-- End container -->