<!-- <app-nav-menu></app-nav-menu> -->
<!-- Begin container -->
<div class="container container-page profile-detail-page">
    <div class="d-flex body-page">
        <!-- Begin col chart -->
        <div class="flex-grow-1 col-chart">
            <div class="title d-flex align-items-center font-weight-bold text-blue">
                <img src="assets/images/icons/icon-marriage.svg" class="icon-marriage" alt="">
                <!--<img src="assets/images/icons/icon-money.svg" class="icon-money" alt="">
                <img src="assets/images/icons/icon-fame.svg" class="icon-fame" alt="">
                <img src="assets/images/icons/icon-health.svg" class="icon-health" alt="">
                <img src="assets/images/icons/icon-children.svg" class="icon-children" alt="">-->
                Thủy - Hôn nhân
            </div>
            <div class="d-flex align-items-center filter">
                <div class="label">Xem theo:</div>
                <div>
                    <button class="btn btn-link">Ngày</button>
                    <button class="btn btn-link active">Tháng</button>
                    <button class="btn btn-link">Năm</button>
                    <button class="btn btn-link">Thập kỷ</button>
                </div>
            </div>
            <div class="scrollbar">
                <div class="wrap-chart text-center d-flex justify-content-center align-items-end">
                    <img src="assets/images/chart-1.png" alt=""/>
                </div>
                <div class="slider">
                    
                    <div id="smartwizard">
                        <ul class="nav">
                        
                        <li><a class="nav-link" routerLink="#step-3">T9<br/>2019</a></li>
                        <li><a class="nav-link" routerLink="#step-4">T10<br/>2019</a></li>
                        <li><a class="nav-link" routerLink="#step-5">T11<br/>2019</a></li>
                        <li><a class="nav-link" routerLink="#step-6">T12<br/>2019</a></li>
                        <li><a class="nav-link" routerLink="#step-7">T1<br/>2020</a></li>
                        <li><a class="nav-link" routerLink="#step-8">T2<br/>2020</a></li>
                        <li><a class="nav-link" routerLink="#step-9">T3<br/>2020</a></li>
                        <li><a class="nav-link" routerLink="#step-10">T4<br/>2020</a></li>
                 
                        </ul>
                        <div class="tab-content"></div>
                    </div>
                </div>
                
                <div class="box-result">
                    <form action="">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="label">Đổi tên:</span>
                                <input type="text" name="fullname" class="name" >
                            </div>
                            <div class="ml-lg-3">
                                <span>Đổi địa chỉ:</span>
                                <input type="text" name="address" class="address" >
                            </div>
                            <button class="btn btn-link">Kết quả</button>
                        </div>
                    </form>
                    <div class="d-flex result-percent justify-content-between align-items-center">
                        <div class="text-yellow">Kim: + 0%</div>
                        <div class="text-blue">Thủy: + 0%</div>
                        <div class="text-green">Mộc: - 0%</div>
                        <div class="text-orange">Hỏa: - 0%</div>
                        <div class="text-brown">Thổ: -0%</div>
                    </div>
                    
                </div>
            </div>
            <div class="group-btn-tab text-center">
                <button class="btn">
                    <img src="assets/images/icons/icon-money.svg" class="icon-money" alt=""/>
                    Tiền Tài
                </button>
                <button class="btn active">
                    <img src="assets/images/icons/icon-marriage.svg" class="icon-marriage" alt=""/>
                    Hôn nhân
                </button>
                <button class="btn">
                    <img src="assets/images/icons/icon-fame.svg" class="icon-fame" alt=""/>
                    Công danh
                </button>
                <button class="btn">
                    <img src="assets/images/icons/icon-health.svg" class="icon-health" alt=""/>
                    Sức khỏe
                </button>
                <button class="btn">
                    <img src="assets/images/icons/icon-children.svg" class="icon-children" alt=""/>
                    Con cái
                </button>
            </div>
        </div>
        <!-- End col chart -->

        <!-- Begin col info -->
        <div class="bd-highlight col-info">
            <h1 class="heading-title">Dương Thanh Thảo</h1>
            <div class="description text-blue font-weight-bold">
                Thủy -22% <span class="date float-right">15/11/2019 (AL 10/10)</span>
            </div>
            <div class="content">
                <div class="scrollbar">
                    <p>
                        <strong>Thủy -22%:</strong> Thủy là đại diện cho cung chồng và cung quan quyền, mệnh có thủy
                        và hỏa đều đạt trên mức trung bình (20%) là người lưỡng toàn cả tiền tài và công
                        danh . Nhưng hỏa quá nhiều 36% cũng là điều bất lợi về sau này
                    </p>
                    <p class="text-blue"><strong>Các giải pháp để đường thổ đi lên trong giai đoạn đi xuống</strong></p>
                    <p>
                        Màu sắc: tăng cường màu vàng , đỏ nâu <br/>
                        Phương vị: đông bắc, tây nam , đông nam , tây bắc<br/>
                        Thức ăn : vị ngọt, thịt bò và dê , ăn thức ăn có màu vàng nhiều<br/>
                        Chỗ ngủ : quay đầu về phía tây nam<br/>
                        Công việc : quảng lý, kinh doanh đất đai ,chăn nuôi, tôn giáo , trồng trọt , hành chính nhân sự<br/>
                        Phụ kiện: <br/>
                        &nbsp;Bóp : da bò, trâu , dê, có màu vàng , nâu, xám

                    </p>
                </div>
            </div>
            
            <div class="d-flex justify-content-end group-btn-action">
                <!-- <button class="btn btn-global rounded-pill btn-reset text-uppercase" onclick="">Trở về</button> -->
                <a class="btn btn-global rounded-pill btn-reset text-uppercase" routerLink="/paradox">Trở về</a>
                <button class="btn btn-global rounded-pill btn-accept text-uppercase">Lưu thay đổi</button>
            </div>
        </div>
        <!-- End col info -->
    </div>
    
</div>
<!-- End container -->