<!-- <app-nav-menu></app-nav-menu> -->
<!-- Begin container -->
<div class="container container-page contact-page">
    <div class="d-flex body-page">
        <!-- Begin col chart -->
        <div class="flex-grow-1 col-chart">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.523500838296!2d106.68435221458047!3d10.771158992325125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f07b3a24645%3A0x8190331668205de4!2zVMOyYSBuaMOgIEhNIFRvd24!5e0!3m2!1svi!2s!4v1600747580371!5m2!1svi!2s" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="contact-info">
                <div class="title font-weight-bold">Contact info</div>
                <div class="row-info">
                    <img src="assets/images/icons/icon-phone.svg" class="icon phone" alt="icon phone"/>
                    Số điện thoại: (+84) 907 222 437
                </div>
                <div class="row-info">
                    <img src="assets/images/icons/icon-email.svg" class="icon" alt="icon email"/>
                    Email: info@mom.com
                </div>
                <div class="row-info">
                    <img src="assets/images/icons/icon-mark.svg" class="icon" alt="icon mark"/>
                    Địa chỉ: Tầng 14, Tòa Nhà HM Town, 412 Nguyễn Thị Minh Khai, Phường 05, Quận 03, TP.HCM
                </div>
            </div>
        </div>
        <!-- End col chart -->

        <!-- Begin col info -->
        <div class="bd-highlight col-info">
            <h1 class="heading-title">Liên hệ với chúng tôi</h1>
            
            <form class="profile-form position-relative needs-validation" method="get" action="profile.html" novalidate>
                <div class="scrollbar">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Họ tên*" value="" required/>
                            <div class="invalid-feedback font-italic">
                                *Vui lòng điền họ tên
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Số điện thoại" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="email" placeholder="Email*" required/>
                            <div class="invalid-feedback font-italic">
                                *Vui lòng điền email
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea name="" id="" class="form-control" cols="30" rows="10" placeholder="Nội dung cần được tư vấn"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end group-btn-action">
                    <button class="btn btn-global rounded-pill btn-reset text-uppercase">Nhập lại</button>
                    <button type="submit" class="btn btn-global rounded-pill btn-accept text-uppercase">Chấp nhận</button>
                </div>
            </form>
        </div>
        <!-- End col info -->
    </div>
    
    <div class="clearfix"></div>
    <!-- Begin pagination page -->
    <div class="d-flex justify-content-center align-items-center page-pagination">
        <div class="item-pagination prev d-none d-md-block"><img src="assets/images/icons/icon-prev.svg" alt=""/></div>
        <div class="item-pagination "></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination"></div>
        <div class="item-pagination active"></div>
        <div class="item-pagination next text-right d-none d-md-block"><img src="assets/images/icons/icon-next.svg" alt=""/></div>
    </div>
    <!-- End pagination page -->

</div>
<!-- End container -->